$border-radius: 12px;
$transition-duration: 0.3s;

.dialogContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  backdrop-filter: blur(8px);
}

.dialogContent {
  background-color: var(--dark-900);
  margin: auto;
  padding: 32px;
  border-radius: $border-radius;
  width: 100%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--dark-700);
}

.dialogButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: var(--dark-700);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color $transition-duration ease,
    transform $transition-duration ease;

  &:hover {
    background-color: var(--red-900);
    transform: rotate(90deg);
  }
}

.detailsContainer {
  h2 {
    color: var(--green-900);
    font-size: 2rem;
    margin-bottom: 24px;
    text-align: center;
  }
}

.orderInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  background-color: var(--dark-700);
  padding: 16px;
  border-radius: $border-radius;
}

.table,
.name {
  font-size: 1.25rem;
  color: var(--gray-100);

  b {
    color: var(--white);
    font-weight: 600;
  }
}

.itemsContainer {
  background-color: var(--dark-700);
  border-radius: $border-radius;
  padding: 20px;
  margin-bottom: 32px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h4 {
    color: var(--green-900);
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

.itemRow {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid var(--dark-900);
  border-radius: $border-radius;
  transition: background-color $transition-duration ease;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
  }
}

.itemAmount {
  font-weight: bold;
  color: var(--green-900);
  margin-right: 20px;
  min-width: 40px;
  text-align: center;
  font-size: 1.25rem;
}

.itemDescription {
  color: var(--white);
  flex-grow: 1;
  font-size: 1.1rem;
}
