.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 14px;
  color: var(--white);
}

.selectWrapper {
  position: relative;
}

.select {
  height: 40px;
  width: 100%;
  border: 1px solid var(--gray-100);
  padding: 0 16px;
  border-radius: 8px;
  background-color: var(--dark-900);
  color: var(--white);
  font-size: 16px;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: var(--primary);
  }

  &[data-placeholder="true"] {
    color: var(--gray-100);
  }

  option {
    color: var(--white);
  }

  option:first-child {
    color: var(--gray-100);
  }
}

.icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
  pointer-events: none;
}
