.containerCenter {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray-900);
}

.login {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 600px;

  form {
    color: var(--white);
    padding-bottom: 16px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px;
  }

  form button {
    height: 40px;
    font-size: 16px;
    background-color: var(--red-900);
    border: 0;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.5s;
  }

  form button:hover {
    scale: 1.02;
  }

  h1 {
    color: var(--white);
  }
}

.text {
  color: var(--white);
}

@media (max-width: 620px) {
  .login {
    width: 90%;
  }
}
