.button {
  height: 40px;
  font-size: 16px;
  border: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  background-color: var(--red-900);
  color: var(--white);

  &:hover {
    scale: 1.02;
  }
}
